<h2 class="page-header">Edit/Delete Account</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Deposit</th>
      <th>Credit Card</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
      <td>{{ client._id}}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.deposit }}</td>
      <td>{{ client.cCard }}</td>
      <td>
        <a class="btn btn-danger btn-sm" href="/#/edit/{{client._id}}">Edit</a>
        <button class="btn btn-success btn-sm" ng-click="deleteClients(client._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
