<h2 class="page-header">Edit Accounts</h2>
<div class="row">
  <div class="col-lg-9 col-lg-offset-1">
    <input type="hidden" placeholder="id" class="form-control" ng-model="client._id"><br>
    <input type="text" placeholder="name" class="form-control" ng-model="client.name"><br>
    <input type="text" placeholder="deposit" class="form-control" ng-model="client.deposit"><br>
    <input type="text"placeholder="credit card" class="form-control" ng-model="client.cCard"><br>
    <button class="btn btn-primary form-control" ng-click="saveClient()">Add Account</button>
  </div>
</div>
